/* Estilos relacionados con los comentarios */

.comentario_par, .comentario_impar
{
	border-style:solid;
	border-width:1px;
	border-color:#000000;
}

.comentario_par p, .comentario_impar p
{
	font-size:20px;
	padding:10px;
}

/* Alterna los colores de fondo y texto entre los comentarios pares e impares */
.comentario_par
{
	background-color:#086A87;
	color:#FFFFFF;
}

.comentario_impar
{
	background-color:#FFFFFF;
	color:#000000;
}
